.meLink {
  text-decoration: none;
  color: black;
}

.meBtn {
  background-color: white;
  min-width: 200px;
}
.meBtn:hover {
  background-color: black;
  color: white;
}
.meBtn:hover .meLink {
  color: white;
}
